@model PensionMenagmentService.Models.PensionViewModel


@{
    ViewData["Title"] = "CheckinAdd";
}

<h1>Check In</h1>
<div class="container">
    
    <h5>@ViewBag.CheckinInformation</h5>
    <h6>@ViewBag.CheckinData</h6>
    <a asp-action="Index">back to Check-In page</a>
</div>

